/* Home Section Styling */
.home{
    display: flex;
    background: url("../images/banner.png") center;
    height: 100vh;
    color: whitesmoke;
    min-height: 500px;
    font-family: "Sofia Sans", serif;
}

.home .max-width{
    margin: auto 0 auto 0px;
}

.home .home-content .text-1{
    font-size: 28px;
}

.home .home-content .text-2{
    font-size: 70px;
    font-weight: 600;
}

.home .home-content .text-3{
    font-size: 35px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: blueviolet;
}

.home .home-content a{
    display: inline-block;
    background-color: indigo;
    color: whitesmoke;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 10px;
    border: 2px solid indigo;
    transition: all 0.3s ease;
}

.home .home-content a:hover{
    color: whitesmoke;
    background: none;
}

/* Mobile adaptation */

@media (max-width: 947px){
    .home .home-content .text-1{
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 62px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
}

@media (max-width: 690px){
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}

@media (max-width: 500px){
    .home .home-content .text-2{
        font-size: 60px;

    }
    .home .home-content .text-3{
        font-size: 32px;
    }
}