@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

/* General Styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.max-width{
    max-width: 1920px;
    padding: 0 80px;
    margin: auto;
}

/* Navbar Styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    /* background: indigo; */
    font-family: "Exo 2", serif;
    transition: all 0.3s ease;
}

.navbar.sticky{
    padding: 15px 0;
    background: indigo;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: whitesmoke;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a:hover{
    color: blueviolet;
    font-size: 35px;
    font-weight: 600;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: lightgray;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3 ease;
}

.navbar .menu li a:hover{
    color: blueviolet;
}

/* Menu button styling */
.menu-btn{
    color: whitesmoke;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

section{
    padding: 100px 0;
}

/* Mobile adaptation */
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        padding: 20px;
        margin: 25px, 0;
        font-size: 25px;
    }
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
}